body { 
    font-size: 1.6em;
    
    margin:0;
} 
#page{
	width:960  px;
	margin:0 auto;
}
#bg-image{   
    position:absolute;   
    top:0;   
    left:0;   
    height:100%;   
    width:100%;   
    z-index:-9;
    background-image:url(../picture/yy.jpg); 
    background-position: center 0;   
    background-repeat: no-repeat;   
    background-attachment:fixed;   
    background-size: cover;   
    -webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */  
    -o-background-size: cover;/* 兼容Opera */   
    zoom: 1;   
}
#bg-image img{width:100%;height:100%;}
img.top{
	margin:0;
	padding:0;
  top:0;
  width: 100%;
  height: 320px;
}
a.print｛
  cursor:pointer;
  target-new:tab;
	text-decoration: underline;
｝